#game-container{
    display: grid;
    
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    padding-top: 100px;
    
       
}
.game-button{
    background-color: white;
}
button:disabled{
    
    font-size: larger;
    font-size: 60px;
    
}
#rematch-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.rematch-button{
    font-size: 40px;
    border-radius: 25px;
}