#game-container{
    display: grid;
    
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    padding-top: 100px;
    
    
}
button:disabled{
    
    font-size: larger;
    font-size: 60px;
    
}
